.profile_container {
    width: 90%;
    margin: 50px auto;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, 0.822);
    padding: 50px;
    border-radius: 10px;
}


@media (min-width: 768px) {
    .profile_container {
        width: 50%;
        flex-direction: row;
        justify-content: space-between;
    }
}