/* title font */
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=Varela+Round&display=swap');

html {
    min-height: 100vh;
}

#root {
    padding-bottom: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}



body {
    background-image: url('images/mainBackground.jpg');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding-bottom: 100px;
}










/* EVENT MODAL */
.modal {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.modal_content_conatiner {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_close_X {
    font-size: 3rem;
    padding: 20px;
    color: white;
    border: 2px solid white;
    position: absolute;
    right: 0;
    z-index: 11;
}

.modal_close_X:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.modal_form {
    width: 70%;
    height: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration_form_fields {
    padding: 100px;
    display: flex;
    flex-direction: column;
}

fieldset {
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.7)
}

input {
    padding: 5px 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
}

select {
    padding: 10px;
    border-radius: 10px;
    width: 200px;
    margin: auto;
    text-align: center;
}

option {
    text-align: center;
}

.register_to_event_btn {
    border-radius: 5px;
    border: none;
    font-size: 2rem;
    margin: 10px auto;
    width: 100%;
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 5px;
    box-shadow: 0 2px 2px white;
}

.register_to_event_btn:hover {
    cursor: pointer;
    box-shadow: 0 6px 6px white;
}

.register_to_event_btn:active {
    cursor: pointer;
    box-shadow: 0 0px 0px white;
}

.success {
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.success h4 {
    font-size: 2rem;
    width: 50%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
}

.success_event {
    text-transform: uppercase;
    color: rgb(226, 62, 62);
}

.footer {
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

/* RUNNER LIST */
.runner_list_container {
    width: 60%;
    min-height: initial;
    margin: 20px auto;
    color: white;
}

.runner {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: rgba(0, 0, 0, 1);
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 5px;
}

.runner_event_distance {
    display: flex;
}

.runner_event {
    margin: 0 10px;
    text-transform: uppercase;
    font-weight: bold;
}

.runner_event a {
    color: whitesmoke;
    border-bottom: 0.5px solid white;
}

.runner_event a:hover {
    color: orange;
}

.runner_name {
    display: flex;
    justify-content: center;
    align-items: center;
}