nav {
    display: flex;
    flex-direction: column;
}

nav a {
    color: orange;
    border: 1px solid orange;
    display: inline-block;
    margin: 5px;
    font-size: 0.7rem;
    text-align: center;
    padding: 1px 5px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
}

.active {
    color: white;
}

nav a:hover {
    color: white;
}

.loggedUserName {
    color: rgb(240, 119, 119);
}

@media (min-width: 768px) {
    nav {
        flex-direction: row;
    }

    nav a {
        font-size: 1rem;
        padding: 3px 8px;
    }
}